 <nav>
        <div class="site-title">
            <a href="/"><h1>Precision Tooling LLC</h1></a>
            <div class="slogan">Linking precision and power...</div>
        </div>
        <ul>
            <% if (user) { %>
            <li>Welcome, <%= user.email  %></li>
            <li><a href="/logout">Logout</a></li>
            <% } else { %>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
            <% } %>
            <li><a href="/drawings">Drawings</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/drawings/create">Enter New Drawing</a></li>
        </ul>

</nav>

