<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2 class="about-title">About us</h2>
        <p>Due to the growing need of quality tool holders in the US, Precision Tooling LLC decided to bring the best in CNC tooling in the world to the US in the mid 80's. With state of the art technology and German precision, Precision tool holders were introduced to America. Established in 1986 in Los Angeles California, Precision Tooling LLC rapidly grew opening offices in Michigan and Florida satisfying the needs of customers such as automotive, medical, oil and aerospace industries in North and South America. In the year 2022, Precision Tooling LLC opened the doors to the western hemisphere distribution center in Dade City, Florida with hundreds of live and fixed tool holders in stock for quick delivery.</p>
        <br>
        <p>With steady growth comes a need for expansion. In 2025, Precision Tooling LLC relocated to Indianapolis. Our Indianapolis location is centrally located for quicker deliveries, additional stock and a more advanced service department. This location makes  sense for a reliable future with potential for positive growth to better serve our respected industry's demand.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>