<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Precision Tooling LLC</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="headings">
        <h2>Datasheet Database</h2>
        <h3>Find, store, and create datasheets</h3>
        <button><a href="/drawings">View Drawings</a></button>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>